@charset "utf-8";
/*@import url(basic.css);
#wrapper{
	border:1px solid rgba(175,42,45,1.00);}
#middle {
	display: table-cell;
	width: 1015px;
}
#middle>div {
	float: left;
}*/
#left {
	position: absolute;
	width: 280px;
	z-index:1000;
	top:200px;
	left:5%;
}
#leftMenu {
	margin: 0 auto;
	margin-top: 20px;
	width: 215px;
	background: url(../images/images/menu_line.gif) repeat-y center;
	left:5%;
}
#leftMenu #leftTitle {
	height: 41px;
	line-height: 45px;
	text-indent: 16px;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	border-top: 3px solid #505050;
}
#subMenu>ul>li>a { /* 1depth */
	display: block;
	height: 33px;
	line-height: 38px;
	text-indent: 18px;
	font-size: 12px;
	font-weight: normal;
	background:url(../images/images/s_under.jpg) no-repeat bottom;
	border-left: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	cursor: pointer;
}
#subMenu>ul>li>a:hover, #subMenu>ul>li>a.on {
	line-height: 36px;
	text-indent: 19px;
	font-weight: bold;
	background: url(../images/images/arrow_select.gif) no-repeat 190px 13px #f25b1e;
	color: #fff;
	border: none;
}
ul.depth>li>a { /* 2depth previous */
	display: block;
	height: 23px;
	line-height: 23px;
	text-indent: 18px;
	background: #fff;
	border-left: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	cursor: pointer;
}
ul.depth>li>a:hover, ul.depth>li>a.on {
	color: #f25b1e;
}
ul.depth>li:first, ul.depth>li>a.first {
	margin-top: 5px;
}
ul.depth>li>a.last {
	height: 38px;
	background: url(../images/images/sub_line_bullet.gif)  no-repeat bottom;
	
}
ul.depth2 { /* 2depth */
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	background: url(../images/images/sub_line_edge.gif) no-repeat bottom;
}
ul.depth2>li>a {
	display: block;
	height: 20px;
	line-height: 20px;
	text-indent: 18px;
	border-left: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	cursor: pointer;
	font-size:10pt;
}
ul.depth2>li>a:hover, ul.depth2>li>a.on {
	color: #f25b1e;
}